<%= address_admin_template do %>

  <%= content_for :headline do %>
    <%= t("activerecord.attributes.magic_addresses_state.other") %>
  <% end %>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t("helpers.label.magic_addresses_state.name") %></th>
        <th><%= t("activerecord.attributes.magic_addresses_address.other") %></th>
  
        <th><%= t("activerecord.attributes.magic_addresses_country.one") %></th>
  
        <th><%= t("helpers.label.magic_addresses_state.default_name") %></th>
  
        <th>FSM-State</th>
        <th>Triggers</th>
      </tr>
    </thead>
    <tbody>
    <% @states.each do |state| %>
      <tr>
  
        <td><strong><%= state.name %></strong></td>
        <td><%= state.addresses.count %></td>
  
        <td><%= state.country.name if state.country %></td>
  
        <td><%= state.default_name %></td>
        <td><%= state.fsm_state %></td>
        <td>
          <%# %w(activate deactivate).each do |state| %>
            <%# if city.machine.trigger?(state.to_sym) %>
              <%#= link_to state.to_s.titleize, trigger_wizard_city_path(city, state), class: "btn btn-default btn-sm" %>
            <%# end %>
          <%# end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  
<% end %>

