<%= address_admin_template do %>

  <%= content_for :headline do %>
    <%= t("activerecord.attributes.magic_addresses_address.other") %>
  <% end %>

  <table class="table table-striped table-left">
    <thead>
      <tr>
        <th> </th>
        <th><%= t("activerecord.attributes.magic_addresses_city.one") %></th>

        <th><%= t("helpers.label.magic_addresses_address.postalcode") %></th>
        <th><%= t("helpers.label.magic_addresses_address.street") %></th>
        <th><%= t("helpers.label.magic_addresses_address.street_number") %></th>

        <th><%= t("activerecord.attributes.magic_addresses_state.one") %></th>
        <th><%= t("activerecord.attributes.magic_addresses_country.one") %></th>
        <th><%= t("activerecord.attributes.magic_addresses_district.one") %></th>
        <th><%= t("activerecord.attributes.magic_addresses_subdistrict.one") %></th>

        <th>Uses</th>
      </tr>
    </thead>
    <tbody class="wizard_table_body">
    <% @addresses.each do |address| %>
      <tr data-id="<%= address.id %>" data-street="<%= address.street %>" data-postalcode="<%= address.postalcode %>" data-number="<%= address.street_number %>" data-city="<%= address.city %>" data-country="<%= address.country %>" data-district="<%= address.district %>" data-subdistrict="<%= address.subdistrict %>" data-owners="<%= address.owners.to_json %>" data-longitude="<%= address.longitude %>" data-latitude="<%= address.latitude %>">
        
        <td>
          <%= country_flag( address.magic_country.iso_code, "medium" ) if address.magic_country %> 
        </td>
        
        <td>
          <% if address.magic_city %>
            <span title="<%= "#{address.magic_city.id} => #{address.magic_city.default_name}" %>">
              <%= address.magic_city.name %>
            </span>
          <% else %>
            <em><%= address.city || "- -" %></em>
          <% end %>
        </td>
        
        <td>
          <%= address.postalcode %>
        </td>
        
        <td>
          <%= address.street %>
        </td>
        
        <td>
          <%= address.street_number %>
        </td>
        
        
        <td>
          <% if address.magic_state %>
            <span title="<%= "#{address.magic_state.id} => #{address.magic_state.default_name}" %>">
              <%= address.magic_state.name %>
            </span>
          <% else %>
            <em><%= address.state || "- -" %></em>
          <% end %>
        </td>
        
        <td>
          <% if address.magic_country %>
            <span title="<%= "#{address.magic_country.id} => #{address.magic_country.default_name}" %>">
              <%= address.magic_country.name %>
            </span>
          <% else %>
            <em><%= address.country || "- -" %></em>
          <% end %>
        </td>
        
        <td>
          <small>
            <% if address.magic_district %>
              <span title="<%= "#{address.magic_district.id} => #{address.magic_district.default_name}" %>">
                <%= address.magic_district.name %>
              </span>
            <% else %>
              <em><%= address.district || "- -" %></em>
            <% end %>
          </small>
        </td>
        
        <td>
          <small>
            <% if address.magic_subdistrict %>
              <span title="<%= "#{address.magic_subdistrict.id} => #{address.magic_subdistrict.default_name}" %>">
                <%= address.magic_subdistrict.name %>
              </span>
            <% else %>
              <em><%= address.subdistrict || "- -" %></em>
            <% end %>
          </small>
        </td>
        
        <td>
          <span title="<%= address.owners.to_yaml %>">
            <%= address.addressibles.count %>
          </span>
        </td>
        
      </tr>
    <% end %>
    </tbody>
  </table>


<% end %>