<%= address_admin_template do %>

  <%= content_for :headline do %>
    <%= t("activerecord.attributes.magic_addresses_city.other") %>
  <% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t("helpers.label.magic_addresses_city.name") %></th>
        <th>Addresses</th>
  
        <th><%= t("activerecord.attributes.magic_addresses_state.one") %></th>
        <th><%= t("activerecord.attributes.magic_addresses_country.one") %></th>
  
        <th><%= t("helpers.label.magic_addresses_city.default_name") %></th>
        <th>FSM-State</th>
        <th>Triggers</th>
      </tr>
    </thead>
    <tbody>
    <% @cities.each do |city| %>
      <tr>
  
        <td><strong><%= city.name %></strong></td>
  
        <td><%= city.addresses.count %></td>
  
        <td><%= city.state.name if city.state %></td>
        <td>
          <%= country_flag( city.country.iso_code, "small" ) if city.country %>
          <%= city.country.name if city.country %>
        </td>
  
        <td><%= city.default_name %></td>
        <td><%= city.fsm_state %></td>
        <td>
          <%# %w(activate deactivate).each do |state| %>
            <%# if city.machine.trigger?(state.to_sym) %>
              <%#= link_to state.to_s.titleize, trigger_wizard_city_path(city, state), class: "btn btn-default btn-sm" %>
            <%# end %>
          <%# end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>


<% end %>