<%= address_admin_template do %>

  <%= content_for :headline do %>
    <%= t("activerecord.attributes.magic_addresses_district.other") %>
  <% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t("helpers.label.magic_addresses_district.name") %></th>
        <th><%= t("activerecord.attributes.magic_addresses_address.other") %></th>
  
        <th><%= t("activerecord.attributes.magic_addresses_city.one") %></th>
  
        <th><%= t("helpers.label.magic_addresses_district.default_name") %></th>
        
        <% if MagicAddresses.configuration.show_states %>
          <th>FSM-State</th>
        <% end %>
        <% if MagicAddresses.configuration.show_triggers %>
          <th>Triggers</th>
        <% end %>
      </tr>
    </thead>
    <tbody class="wizard_table_body">
    <% @districts.each do |scity| %>
      <tr data-id="<%= district.id %>" data-name="<%= district.name %>" data-default-name="<%= district.default_name %>" data-short-name="<%= district.short_name %>" data-state="<%= district.fsm_district %>">
  
        <td><strong><%= scity.name %></strong></td>
        <td><%= scity.addresses.count %></td>
  
        <td><%= scity.city.name if scity.city %></td>
  
        <td><%= scity.default_name %></td>
        <% if MagicAddresses.configuration.show_states %>
          <td><%= scity.fsm_state %></td>
        <% end %>
        <% if MagicAddresses.configuration.show_triggers %>
          <td>
            <%# %w(activate deactivate).each do |state| %>
              <%# if city.machine.trigger?(state.to_sym) %>
                <%#= link_to state.to_s.titleize, trigger_wizard_city_path(city, state), class: "btn btn-default btn-sm" %>
              <%# end %>
            <%# end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>

