<%= address_admin_template do %>

  <%= content_for :headline do %>
    <%= t("activerecord.attributes.magic_addresses_subdistrict.other") %>
  <% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t("helpers.label.magic_addresses_subdistrict.name") %></th>
        <th><%= t("activerecord.attributes.magic_addresses_address.other") %></th>
  
        <th><%= t("activerecord.attributes.magic_addresses_district.one") %></th>
        <th><%= t("activerecord.attributes.magic_addresses_city.one") %></th>
  
        <th><%= t("helpers.label.magic_addresses_subdistrict.default_name") %></th>
  
        <th>FSM-State</th>
        <th>Triggers</th>
      </tr>
    </thead>
    <tbody>
    <% @subdistricts.each do |scity| %>
      <tr>
  
        <td><strong><%= scity.name %></strong></td>
        <td><%= scity.addresses.count %></td>
  
        <td><%= scity.district.name if scity.district %></td>
        <td><%= scity.city.name if scity.city %></td>
  
        <td><%= scity.default_name %></td>
        <td><%= scity.fsm_state %></td>
        <td>
          <%# %w(activate deactivate).each do |state| %>
            <%# if city.machine.trigger?(state.to_sym) %>
              <%#= link_to state.to_s.titleize, trigger_wizard_city_path(city, state), class: "btn btn-default btn-sm" %>
            <%# end %>
          <%# end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
    
    
<% end %>

